.note-button {
    opacity: 0.4;
    transition: opacity 0.15s ease-in;
    padding: 0.75rem;
}

.note-button:hover,
.note-button:focus {
    opacity: 0.2;
    transition: opacity 0.15s ease-in;
}

.note-button:active {
    opacity: 0.7;
    transition: opacity 0.15s ease-out;
}

.delete-note {
    background: url(./icons/remove-file.svg);
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.next-note {
    background: url(./icons/spinner-arrow.svg);
}

.add-note {
    background: url(./icons/add-files.svg);
}
